#dialog-logout {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1!important;
}

#dialog-logout div {
  width: 35%;
  height: 35%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid hsl(220, 9%, 19%);
}

#dialog-logout div {
  font-size: 1.2em;
}

#dialog-logout.open {
  display: flex;
}